.navigation {
}

.controls {
    display: flex;
    gap: 1rem;
}

.controls label * {
    margin-left: 1rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}