.navigation {
    margin-left: 1rem;
}

.controls {
    display: flex;
    gap: 1rem;
}

.controls label * {
    margin-left: 1rem;
    max-width: 13ch;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.figure {
    width: 100%;
    max-width: 1024px;
}